@charset "UTF-8";

.liveritem-img {
  width: 50%;
  height: 50%;
}
header{
	text-align: right;
	font-size: 5px;
}
footer,.cate{
	text-align: center;
}
.item li {
  border: 1px solid red;
  border-radius: 20px; 
 background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
body{
	background-color: #fee5ca;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}


.item {
  display: flex;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
  
}
.search{
	text-align: center;
	color: red;
}

li{
	width:30%;
	list-style: none;
	
}

.liverhome{
	font-size: 50px;/*CATEGORYの大きさの大きさ*/
	background-color:#FBE9E7;
	
}

.liverhome strong{
 margin-left: 10px;
 text-shadow:1px 2px 3px red;
}

.search img{
	width: 50px;
	margin-top:20px
	
}
footer-img{
	width: 100px;
}

a,h2{
	color: #B11C1F;
}

