@charset "UTF-8";

body {
	background-color:#fefae0;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
footer{
	text-align: center;
}
header{
	text-align: right;
}
main{
	text-align: center;
}
h1{
	background-color: #FFB2AE;
}